
.btn-yours {
  color:#EDEAD0;
  background: #4A8267;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 16px;
  display:inline-block

}
.btn-yours:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;  color:#EDEAD0;
  background: #43755D;
  font-size: 16px;
   padding: 16px 41px;
   color: white;
   display:inline-block

}
